@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<button id="startRecording" onclick="Config.SpeechRecognition.StartRecording()">Start Recording</button>
<button id="stopRecording" onclick="Config.SpeechRecognition.StopRecording()">Stop Recording</button>

<img src="~/Content/zWRxboG.gif" class="recording-icon" style="display: none;" />


<span id="outputSpan"></span>




