
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<span id="outputSpan"></span>
<button id="startRecording">Start Recording</button>
<button id="stopRecording">Stop Recording</button>

<script src="~/Scripts/global.js"></script>
<script src="~/Scripts/script.js"></script>
<script src="~/Scripts/speechSynthesis.js"></script>
