
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<span id="outputSpan"></span>
<button id="startRecording" onclick="Config.StartRecording()">Start Recording</button>
<button id="stopRecording" onclick="Config.StopRecording()">Stop Recording</button>

<script src="~/Scripts/global.js"></script>
<script src="~/Scripts/speechRecognition.js"></script>
<script src="~/Scripts/speechSynthesis.js"></script>
